# ==========================
# Project root ignored files
# ==========================

# Visual Studio project files and compilation output
/out/**
/.vs/**

/CMakeSettings.json

# VSCode-related project files and compilation output
/build/**
/.vscode/**

# GLFW/GLEW downloaded from their websites
/glfw/**
/glew/**

# Any compiled libraries or executable files
**/*.exe
**/*.dll
**/*.lib
# Linux platform-related compiled output files
**/*.out
**/*.a
**/*.so

# Gradle configuration and compile output
**/.gradle/
**/build/
**/bin/

# Eclipse-specific project files and configuration
.classpath
.project
.settings/

# General file formats to ignore committing
*.log
*.temp
*.out
*.jar
# But include the Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ project directories and compile output
**/.idea/
**/out/